body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(63, 36, 4);
    color: blue;
}

header{
    background: fixed;
    color: beige;
    padding: 20px 0;
    text-align: center;

}
.logo{
    text-align: center;
}
.logo h1{
    font-size: 2.2rem;
    color: #d8a8a8;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    margin: 0 15px;

}
nav a{
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: color 0,3s;
}
nav a:hover{
    color: #d8a8a8;
}
.header-icons span{
    margin-left: 20px;
    cursor: pointer;
    font-size: 1.2rem;
}
.container{
    width: 80%;
    margin: auto;
    padding: 20px;
}
h1{
    margin: 0;
}
p{
    margin-bottom: 15px;
}
.btn{
    display: inline-block;
    background: local;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover{
    background: #333;
}
footer{
    text-align: center;
    padding:20px;
    background: #35424a;
    color:white ;
    position: fixed;bottom: 0;
    width: 100%;
}